    h1 {
        color: red;
    } 
    p {
        color: green;
    }
    .kappaletyylit{
        color: blue;
    }
    #id1{
        color: maroon;
    }
    body{
        background-color: #f4f4f4;
        color: #555555;
        font-family: Arial;
        font-size: 16px;
        font-weight: normal;
        line-height: 1.6m;
        margin:0;
    }
    a{
        text-decoration: none;
        color: #000000;
    }
    a:hover{
        color: red;
    }
    a:active{
        color: green;
    }
    a:visited{
        color: black;
    }
    .alusta1{
        width:80%;
        margin-top:5px;
        margin-right: 10px;
        margin-bottom:5px;
        margin-left: 10px;
    }
    .alusta2{
        background-color: #333333;
        color: #ffffff;
        border-right: 5px red solid;
        border-left: 5px red solid;
        border-top: 5px red solid;
        border-bottom: 5px red solid;
        border-width: 3px;
        border-top-style:dotted;
        padding: 20px;
        margin: 20px;
    }

    .alusta2 h1{
        font-family:tahoma;
        font-weight:800;
        font-style:italic;
        
    }

    